IGAFEM/
	Dissertation/.~lock.1D variable definitions.xlsx#
	Dissertation/2D scalar manual.aux
	Dissertation/2D scalar manual.log
	Dissertation/2D scalar manual.pdf
	Dissertation/2D scalar manual.synctex.gz
	Dissertation/WriteUp.aux
	Dissertation/WriteUp.log
	Dissertation/WriteUp.pdf
	Dissertation/WriteUp.synctex.gz
